<template name="home">

    <div class="container">

        <h2>Follow up</h2>
        <table class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Organisation</th>
                <th>Topics</th>
                <th>Next</th>
                <th></th>
            </tr>
            {{#each followups}}
                {{> followup}}
            {{/each}}
        </table>


        <hr>
        <h2>Contacts:</h2>

        <table class="table table-striped">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>email</th>
                <th>Organisation</th>
                <th>Category</th>
                <th></th>
            </tr>
            {{#each contacts}}
                {{> contact}}
            {{/each}}
        </table>

        <hr>
        <h2>New contacts</h2>
        <p><a href="{{pathFor 'upload' }}">Bulk Upload</a></p>
        <form class="new-contact form-horizontal">
            <div class="form-group">
                <div class="col-sm-10">
                    <label for="firstname">First name:</label>
                    <input type="text" class="form-control" name="firstname"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <label for="lastname">Last name:</label>
                    <input type="text" class="form-control" name="lastname"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <label for="email">email:</label>
                    <input type="email" class="form-control" name="email"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <label for="organisation">Organisation:</label>
                    <input type="text" class="form-control" name="organisation"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10">
                    <label for="category">Category:</label>
                    <input type="text" class="form-control" name="category"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Add">
                </div>
            </div>
        </form>

        <hr>
        <h3>Requirements</h3>
        <p>
            Show only the last Followup record for each contact<br>
            Edit contacts<br>
            Sort contacts by column<br>
            
        </p>

    </div>

</template>
